.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.covered .bg {
  background-color: black;
  background-image: url(../img/card-back.png) !important;
}

.bg {
  background-size: 100px 140px;
  width: 100px;
  height: 140px;
}

.hand {
  overflow: auto;
}
